@charset "utf-8";

/*
Desktop first
*/
body {
    font: 18px/1.8 Lato;
    background-color: #42413C;
    color: #000;
}

ul,
ol,
dl {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
/*check the for fall back fonts*/
    font-family: 'Karla';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}

a img {
    border: none;
}

a:link,
a:visited {
    color: #0B486B;
}

#hd {
    background-color: #fff;
    background-image: url("compressed-images/symphony.png");
	background-position: center;
	max-width:1060px;
	/*Use this "margin" attribute to align center*/
	margin: 0 auto;
	overflow: hidden;
}

/*
header h1 {
    margin: 0;
    font-size: 62px;
} */

#hd img {
	width: 100%;
	display: block;
    float: left;
}

#wrapper {
	max-width: 1060px;
	margin: 0 auto;
    background-image: url("compressed-images/symphony.png");
}

.navbar-header {
	height: 10px;
}

nav {
    float: left;
    width: 100%;
}

nav ul {
	width: 100%;
    list-style: none;
}

nav ul li {
    background-color: rgba(255, 255, 255, 0.80);
    margin-bottom: 3px;
    font-size: 16px;
}

nav ul a:link,
nav ul a:visited {
    padding: 5px 5px 5px 15px;
    display: block;
    width: 100%;
    color: #666;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    background-color: #666;
    color: #FFF;
}

#mbutton {
    background-color: #666;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.05);
}

.navbar-default .navbar-nav > li {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    padding: 5px 1px;
    font-size: 18px;
    text-decoration: underline;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #666;
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #666;
    color: #FFF;
}

#box1,#box2,#box3 {
	padding: 0px;
}

article {
    padding: 0;
    width: 100%;
    float: left;
    background-color: #FFFFFF;
}

article h1 {
    font-size: 2.0em;
}

article h2 {
    font-size: 1.5em;
    margin-bottom: 0;
    color: #06b0c9;
}

aside {
    float: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #666;

}

aside h1 {
    font-size: 1.4em;
}

section {
    margin-bottom: 55px;
}

#gallery {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}
.gallery-img {
    width: 33.3%;
    padding: 1px 1px 1px 1px;
}

#bigmap {
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
	height:430px;
}

#gmap_canvas {
	height:100%;
	width:100%;
}

#gmap_canvas img {
	background: none;
}

footer {
    padding: 10px 0;
    background-color: #42413C;
    clear: both;
    text-align: center;
    color: white;
}


.promise-container {
    display: inline-block;
    width: 33.3%;
    height: 200px;
    background: url('compressed-images/circle.jpg');
    background-size: 175px 175px;
    background-repeat: no-repeat;
    background-position: center;
}

.has-inline-elements {
    font-size: 0px;
}

.promise {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
    font-size: 16px;
}

.fancybox-title {
    font: 20px/1.6 lato;
    text-align: center;
}

.fun-fact-cat img {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 10%;
}

/*write bootstrap media queries in this form!!*/
@media (min-width: 768px) and (max-width:1199px) {
   .navbar-default .navbar-nav > li {
        width: 16.6%;
    }
}
@media (max-width:992px) { 
	body {
		font-size: 18px;
	}
	
	#hd img {
		width: 100%;
	}
    .gallery-img {
        width: 50%;
    }
}


@media (max-width: 766px) { 
	body {
		font-size: 22px;
	}
    .promise-container {
    display: inline-block;
    width: 100%;
    }
    .gallery-img {
        width: 100%;
    }
}